body{
    height: 100vh;
         width: 100vw;
     display: flex;
   justify-content: center;
   align-items: center;
}
#parent{
height: 300px;
width: 200px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
position: relative;
border-radius: 5px;

}
#child-a{
height: 50%;
width: 100%;
}
#child-b{
height: 50%;
width: 100%;
position: absolute;

bottom: 70px;
left: 40px;
}
#child-b img{
border-radius: 50%;
height: 80%;
width: 60%;
}
img
height: 100%;
width: 100%;

}

button{
background-color: blue;
color: white;
display: flex;
justify-content: center;
height: 20px;
width: 200px;po
position: left: d;

}
